/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #000;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #000;
}


/* Color white text
-------------------------------------------------- */

.color-text-white{
  color:white;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Since positioning the image, we need to help out the caption */
.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 30rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

.featurette-divider-medium {
  margin: 3.5rem 0; /* Space out the Bootstrap <hr> more */
}

.featurette-divider-small {
  margin: 1rem 0  3rem; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.featurette-heading-standard {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.featurette-heading-standard {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

  .featurette-heading-standard {
    font-size: 50px;
  }
  .featurette-heading-small {
    font-size: 50px;
  }

  .myDiv {
      display:none !important;
  }


}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top:3.5rem;
  }

  .featurette-heading-standard {
    margin-top: 3rem;
  }

  .featurette-heading-small {
    margin-top: 1rem;
  }



}

@media (max-width: 62em){
  .pwp-background-first{
    background-image: unset !important;
  }
  .pwp-background-second{
    background-image: unset !important;
  }
  .pwp-background-third{
    background-image: unset !important;
  }
  .pwp-background-four{
    background-image: unset !important;
  }
  .pwp-background-five{
    background-image: unset !important;
  }
  .pwp-background-six{
    background-image: unset !important;
  }

  .pwp-background-first-mobile{
    background-image: url('assets/img/reparacion-de-estufas-cdmx-mobile.jpg') !important;
  }
  .pwp-background-second-mobile{
    background-image: url('assets/img/servicio-para-estufas-mobile.jpg') !important;
  }
  .pwp-background-third-mobile{
    background-image: url('assets/img/reparacion-de-parrillas-cdmx-mobile.jpg') !important;
  }
  .pwp-background-four-mobile{
    background-image: url('assets/img/reparacion-a-domicilio-de-estufas-mobile.jpg') !important;
  }
  .pwp-background-five-mobile{
    background-image: url('assets/img/estufas-reparacion-a-domicilio-mobile.jpg') !important;
  }
  .pwp-background-six-mobile{
    background-image: url('assets/img/paginas-web-premium-logo-slide-mobile.png') !important;
  }
  .pwp-background-maytag-mobile{
    background-image: url('assets/img/servicio-a-estufas-maytag-mobile.jpg') !important;
  }
  .pwp-background-whirlpool-mobile{
    background-image: url('assets/img/reparacion-de-estufas-whirlpool-mobile.jpg') !important;
  }
  .pwp-background-frigidaire-mobile{
    background-image: url('assets/img/reparacion-de-estufas-frigidaire-cdmx-mobile.jpg') !important;
  }
  .pwp-background-samsung-mobile{
    background-image: url('assets/img/reparacion-de-estufas-samsung-cdmx-mobile.png') !important;
  }
  .pwp-background-mabe-mobile{
    background-image: url('assets/img/reparacion-de-estufas-samsung-cdmx-mobile.png') !important;
  }
  .pwp-background-lg-mobile{
    background-image: url('assets/img/reparacion-de-estufas-lg-cdmx-mobile.png') !important;
  }
  .pwp-refrigeradores-samsung-first-mobile{
    background-image: url('assets/img/reparacion-de-refrigeradores-samsung-mobile.jpg') !important;
  }
  .pwp-refrigeradores-lg-first-mobile{
    background-image: url('assets/img/reparacion-de-refrigeradores-lg-cdmx-mobile.jpg') !important;
  }
  .pwp-refrigeradores-frigidaire-first-mobile{
    background-image: url('assets/img/reparacion-de-refrigeradores-frigidaire-cdmx-mobile.jpg') !important;
  }
  .pwp-refrigeradores-whirlpool-first-mobile{
    background-image: url('assets/img/reparacion-de-refrigeradores-whirlpool-cdmx-mobile.png') !important;
  }
  .pwp-refrigeradores-maytag-first-mobile{
    background-image: url('assets/img/reparacion-de-refrigeradores-maytag-cdmx-mobile.jpg') !important;
  }
  .pwp-refrigeradores-mabe-first-mobile{
    background-image: url('assets/img/reparacion-de-refrigeradores-mabe-mobile.jpg') !important;
  }
  .pwp-refrigeradores-nieto-first-mobile{
    background-image: url('assets/img/reparacion-de-refrigeradores-nieto-mobile.jpg') !important;
  }
  .pwp-refrigeradores-second-mobile{
    background-image: url('assets/img/reparacion-de-refrigeradores-mobile.jpg') !important;
  }
  .pwp-refrigeradores-third-mobile{
    background-image: url('assets/img/reparacion-de-refrigeradores-frigifaire-mobile.jpg') !important;
  }
  .pwp-refrigeradores-four-mobile{
    background-image: url('assets/img/reparacion-de-refrigeradores-cdmx-mobile.jpg') !important;
  }
  .pwp-refrigeradores-nieto-two-mobile{
    background-image: url('assets/img/reparacion-de-refrigeradores-nieto-cdmx-mobile.jpg') !important;
  }
  .pwp-refrigeradores-nieto-three-mobile{
    background-image: url('assets/img/reparacion-de-refrigeradores-congeladores-virtinas-nieto-cdmx-mobile.jpg') !important;
  }
  .shadow-ask {
    box-shadow: none !important;
    border-bottom-right-radius: 0px !important;
  }

  .btn-mobile-action{
    display: inline-block !important;
  }

  .btn-web-action{
    display: none !important;
  }

  .tittle-h2{
        font-size: 1.8rem !important;
  }
  .mt {
      margin-top: 1.5rem !important;
  }
  .align-mobile{
    text-align: right;
  }

  .mt-img{
    margin-top:1.5rem;
  }

  .col-xs{
    width: 50% !important;
  }

  /*
  ----------------------- */

  .frigidaire{
    margin-top: 10px !important;
    width: 130px !important;
  }
  .mabe{
    margin-top: 7px !important;
  }
  .teka{
    width: 70px !important;
    margin-top: 5px;
  }

  .koblenz{
    width: 145px !important;
  }
  .mabe{
    width: 100px !important;
  }
  .maytag{
    width: 105px !important;
  }
  .samsung{
  margin-top:18px !important;
}
  /*
  -------------------------- */

  .hidde-element-mobile{
    display: none !important;

  }

  .hidde-element-web{
      display: block !important;

  }

  .img-logo-size{
      width:180px !important;
  }


}


/* ITEM SCROLLPY CSS CODE
------------------------------------------------------- */

.scrollspy-example {
    position: relative;
    height: 250px;
    margin-top: 1.2rem;
    overflow: auto;
}


/* GRID COLORS
-------------------------------------------------------- */

.cta-black{
  background-color: black !important;
  border-radius: unset !important;
  color:white; 
}

.cta-black-cement{
  background-color: #323333 !important;
  border-radius: unset !important;
  color:white; 
}

.cta-downgrey{
  background-color: #aaa !important;
  border-radius: unset !important;
  color:white; 
}

.cta-bluecream{
  background-color: #111526 !important;
  border-radius: unset !important;
  color:white; 
}

.cta-bluemaster{
  background-color: #006cdf !important;
  border-radius: unset !important;
  color:white; 
}

.cta-bluemarine{
  background-color: #222740 !important;
  border-radius: unset !important;
  color:white; 
}
.cta-grey{
  background-color: #646673 !important;
  border-radius: unset !important;
  color:white; 
}

.cta-red-frigidaire{
  background-color: #ee405a !important;
  border-radius: unset !important;
  color:white;
}

.cta-storm{
  background-color: #242424 !important;
  border-radius: unset !important;
  color:white;
}
.cta-blood{
  background-color: #a50034 !important;
  border-radius: unset !important;
  color:white;
}

.cta-yellow{
  background-color: #f0b211 !important;
  border-radius: unset !important;
  color:white;
}

.cta-bluesamsung{
  background-color: #014ca3 !important;
  border-radius: unset !important;
  color:white;
}

.cta-bluemabe{
  background-color: #176595 !important;
  border-radius: unset !important;
  color:white;
}
.cta-bluedown{
  background-color: #c7d3d9 !important;
  border-radius: unset !important;
  color:white;
}

.cta-lg{
  background-color: #bb0a3e !important;
  border-radius: unset !important;
  color:white;
}

.cta-nieto{
  background-color: #165491 !important;
  border-radius: unset !important;
  color:white;
}
.cta-samsung{
  background-color: #0c4da2 !important;
  border-radius: unset !important;
  color:white;
}

.cta-torrey{
  background-color: #d82127 !important;
  border-radius: unset !important;
  color:white;
}

.bg-samsung{
  background-color: #0c4da2;
}
.bg-blue-nieto{
  background-color:#165491;
}
.bg-bluedown{
  background-color: #c7d3d9;
}
.bg-bluemabe{
  background-color: #176595;
}

.bg-black{
  background-color: #000;
}

.bg-black-cement{
  background-color: #323333;
}

.text-black-cement{
  color: #323333;
}

.bg-bluecream{
  background-color: #111526;
}

.bg-grey{
  background-color: #646673;
}

.bg-downgrey{
  background-color: #aaa;
}

.bg-bluemaster{
  background-color: #006cdf;
}

.bg-red-frigidaire{
  background-color: #ee405a;
}

.bg-blood{
  background-color: #a50034;
}
.bg-yellow{
  background-color: #f0b211;
}

.bg-bluemarine{
  background-color: #222740;
}

.bg-bluesamsung{
  background-color: #014ca3;
}

.bg-lg{
  background-color: #bb0a3e;
}

.bg-red-nieto{
  background-color: #ff0400;
}

.bg-torrey{
  background-color: #d82127;
}

.padding-automatic-text{
  padding-bottom: 150;
  padding-left: 0;
  padding-right: 0;
  padding-top: 150;
}


.cta-div{
  width:100%;
  height:auto;
  background-color:#721dbf;
  -webkit-animation-name:example;
  -webkit-animation-duration:30s;
  animation-name:example;
  animation-duration:30s;
  animation-iteration-count:50;
  color:white !important;
}

  @-webkit-keyframes example{
    0%{background-color:#721dbf}
    25%{background-color:#c432c9}
    50%{background-color:#f92c8b}
    100%{background-color:#721dbf}

  }

  @keyframes example{
    0%{background-color:#721dbf}
    25%{background-color:#c432c9}
    50%{background-color:#f92c8b}
    100%{background-color:#721dbf}
  }

/* GRID COLORS
-------------------------------------------------------- */
  .pwp-background-first-mobile{
    background-image: unset;
  }
  .pwp-background-second-mobile{
    background-image: unset;
  }
  .pwp-background-third-mobile{
    background-image: unset;
  }
  .pwp-background-four-mobile{
    background-image: unset;
  }
  .pwp-background-five-mobile{
    background-image: unset;
  }
  .pwp-background-six-mobile{
    background-image: unset;
  }
  .pwp-background-first{
    background-image: url('assets/img/reparacion-de-estufas-cdmx.jpg');
  }
  .pwp-background-second{
    background-image: url('assets/img/servicio-para-estufas.jpg');
  }
  .pwp-background-third{
    background-image: url('assets/img/reparacion-de-parrillas-cdmx.jpg');
  }
  .pwp-background-four{
    background-image: url('assets/img/reparacion-a-domicilio-de-estufas.jpg');
  }
  .pwp-background-five{
    background-image: url('assets/img/estufas-reparacion-a-domicilio.jpg');
  }
  .pwp-background-six{
    background-image: url('assets/img/paginas-web-premium-logo-slide.png');
  }
  .pwp-background-maytag{
    background-image: url('assets/img/servicio-a-estufas-maytag.jpg');
  }
  .pwp-background-whirlpool{
    background-image: url('assets/img/reparacion-de-estufas-whirlpool.jpg');
  }
  .pwp-background-frigidaire{
    background-image: url('assets/img/reparacion-de-estufas-frigidaire-cdmx.jpg');
  }
  .pwp-background-samsung{
    background-image: url('assets/img/reparacion-de-estufas-samsung-cdmx.png');
  }
  .pwp-background-mabe{
    background-image: url('assets/img/reparacion-de-estufas-mabe-cdmx.jpg');
  }
  .pwp-background-lg{
    background-image: url('assets/img/reparacion-de-estufas-lg-cdmx.jpg');
  }
  .pwp-refrigeradores-samsung-first{
    background-image: url('assets/img/reparacion-de-refrigeradores-samsung.jpg');
  }
  .pwp-refrigeradores-lg-first{
    background-image: url('assets/img/reparacion-de-refrigeradores-lg-cdmx.jpg');
  }
  .pwp-refrigeradores-frigidaire-first{
    background-image: url('assets/img/reparacion-de-refrigeradores-frigidaire-cdmx.jpg');
  }
  .pwp-refrigeradores-whirlpool-first{
    background-image: url('assets/img/reparacion-de-refrigeradores-whirlpool-cdmx.png');
  }
  .pwp-refrigeradores-maytag-first{
    background-image: url('assets/img/reparacion-de-refrigeradores-maytag-cdmx.jpg');
  }
  .pwp-refrigeradores-mabe-first{
    background-image: url('assets/img/reparacion-de-refrigeradores-mabe.jpg');
  }
  .pwp-refrigeradores-nieto-first{
    background-image: url('assets/img/reparacion-de-refrigeradores-nieto.jpg');
  }
  .pwp-refrigeradores-second{
    background-image: url('assets/img/reparacion-de-refrigeradores.jpg');
  }
  .pwp-refrigeradores-third{
    background-image: url('assets/img/reparacion-de-refrigeradores-frigifaire.jpg');
  }
  .pwp-refrigeradores-four{
    background-image: url('assets/img/reparacion-de-refrigeradores-cdmx.jpg');
  }
  .pwp-refrigeradores-nieto-two{
    background-image: url('assets/img/reparacion-de-refrigeradores-nieto-cdmx.jpg');
  }
  .pwp-refrigeradores-nieto-three{
    background-image: url('assets/img/reparacion-de-refrigeradores-congeladores-virtinas-nieto-cdmx.jpg');
  }
  .pwp-refrigeradores-torrey{
    background-image: url('assets/img/vitrinas-refrigeradas-torrey.jpg');
  }
  .pwp-refrigeradores-torrey-two{
    background-image: url('assets/img/reparacion-de-refrigeradores-congeladores-virtinas-torrey-cdmx.jpg');
  }
  .pwp-refrigeradores-nieto-two{
    background-image: url('assets/img/reparacion-de-refrigeradores-nieto-cdmx.jpg');
  }
  .pwp-refrigeradores-nieto-three{
    background-image: url('assets/img/reparacion-de-refrigeradores-congeladores-virtinas-nieto-cdmx.jpg');
  }
/* LINK FOOTER COLOR
-------------------------------------------------------- */

.link-footer{
  color:green;
}

/* ZINDEX first
---- */

.position{
  z-index:999999!important;
}

.shadow-ask {
    box-shadow: 5rem 4rem 4rem rgba(0,52,69,0.100);
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

/* CANVA PARTICLES
-------------------------------------------------------- */


#particles-js{
        width: 100%;
        height: 400px;
        background-color: #222740;
        background-image: url('assets/img/logotipo-blanco-oficial.png');
        background-size: 160px 125px;
        background-position: 50% 50%;
        background-repeat: no-repeat;
      }

/* DISABLE Q&A OPTIONS LINK
-------------------------------------------------------- */
a.disabled {
  pointer-events: none;
  cursor: default;
}


/* TEXTOFORMAT CTA
-------------------------------------------------------- */

.text-color{
  color:white !important;

}

/*REMOVE DECORATION ON HOVER EFFECT

.text-color:hover{
  text-decoration: none;;
}

**/

 /* hidde btn mobile call
 ------------------------------------------------------- */
.btn-mobile-action{
  display: none;
}


  .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
        user-select: none;
    }

  @media (min-width: 768px) {
      .bd-placeholder-img-lg {
      font-size: 3.5rem;
      }
  }


  .tittle-h2{
        font-size: 3.5rem;
  }



  /* TEXT SHOW
  -------------------------------------------------------- **/

.text {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
}

/*MODAL DIALOG
----------------------------------------------------------- */

.modal-dialog{
  margin-top:115px;
}


/*IMG SIZE AND CORRROUSEL WIDTH
----------------------------------------------------------- */
.img-size-png{
  width: 55%;
}

.img-size-png-frigo{
  width: 85%;
}

.carousel-caption {
    right: 12% !important ;
    left: 12% !important;
}



/* MARGIN TOP
---------------------------------------------------------- */
.mt {
    margin-top: 4.5rem;
}

/* LOGO MARK
----------------------------------------------------------- */

.frigidaire{
  margin-top: 25px;
}
.mabe{
  margin-top: 12px;
}
.koblenz{
  margin-top: 12px;
}
.wolf{
  margin-top: 13px;
}
.lg{
  margin-top: 6px;
}
.samsung{
  margin-top:30px;
}
.torrey{
  width: 150px;
}

/*
------------------------------------------------------------ */
.hidde-element-mobile{
      display: block;

  }
.hidde-element-web{
    display: none;

}


.myDiv {
    background-color: #fff;
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 10px 30px 5px 30px;
    border: 1px solid #e9e9e9 !important;
}

/*CTA LINK ALIGN*/

#whats_link{
  float: right;
}

#llamar_link{
  float: right;

}

.img-logo-size{
  width:180px;
}

.logo-maytag{
  width: 100px;
}

.img-whirlpool-png{
  width: 40%;
}
.img-frigidaire-png{
  width: 50%;
}
.img-samsung-png{
  width: 60%;
}

.img-mabe-png{
  width: 50%;
}

.img-lg-png{
  width: 45%;
}

.img-maytag-png{
  width: 40%;
}
.img-lg-refri{
  width: 38%;
}

.logo-whirlpool{
  width: 60%;
}

.img-mabe-refri-png{
  width: 30%;
}
.img-frigidaire-refri-png{
  width: 35%;
}
.img-torrey-refri{
  width: 100%;
}

.logo-frigidaire{
  width: 80%;
}

.logo-samsung{
  width: 160px;
}

.logo-mabe{
  width: 110px;
}

.logo-lg{
  width: 80px;
}

.logo-nieto{
  width: 50%;
}

.img-nieto-refri{
  width: 100%;
}
.img-refrigeradores-png{
    width: 75%;
}

.maytag{
    margin-top: 10px;
  }
